.header {
    font-family: "StarWars", sans-serif;
    color: #FFE81F;
    background-color: black;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 769px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}